[2015-07-09 21:58] JackuB opened #4 "`block in weight': undefined method `split' for nil:NilClass"
Just encountered this error when running `jekyll algolia push`

`_config.yml`:

[code]

https://github.com/algolia/algoliasearch-jekyll/blob/master/lib/record_extractor.rb#L150

[code]

[2015-07-09 22:33] pixelastic commented on #4
Thanks for the report.

This seems to be caused by the fact that the plugin is unable to find a suitable title for one of your page/post. I'll add protection against that.

In the meantine, would you have an example of one of your page/post that trigger this error ?

[2015-07-10 10:47] pixelastic commented on #4
Anyway, I've just added a fix (pushed as v0.2.2). Tell me if this fixes your issue.

[2015-07-10 21:06] #4 closed

[2015-07-29 12:53] JackuB opened #6 "Gem::Specification.load returning nil"
In version `0.4.2` I've encountered this error:

[code]

Could be same issue as this one in rubygems: https://github.com/rubygems/rubygems/issues/1287

When I overwrite `version` in `push.rb` to string, it works.

[2015-07-29 13:47] pixelastic commented on #6
Thanks for the report. Are you using bundler?

If so, could you try with `bundle exec jekyll algolia push`?

On Wed, Jul 29, 2015 at 2:53 PM, Jakub Mikulas notifications@github.com
wrote:

[2015-07-29 14:18] JackuB commented on #6
Running `bundle exec jekyll algolia push`: Fails
Running `bundle exec rake update_search`: Fails
Running `rake update_search`: Fails

This is our `Rakefile`:

[code]

[2015-07-29 14:32] pixelastic commented on #6
@JackuB Do you mind jumping on the livechat in algolia.com so I can troubleshoot that with you?

[2015-07-29 18:31] pixelastic commented on #6
@JackuB I've just released v0.4.3 that should hopefully fix it. It no longer needs `rubygems` to known the version.

Just out of curiosity, could you send me a `ls` of the `/Library/Ruby/Gems/2.0.0/gems/algoliasearch-jekyll-0.4.2/` folder?

I could not reproduce on my end, but I have the feeling the file I was reading is not there. Did you had the error locally on your machine or in a CI environme

[2015-07-30 12:41] JackuB commented on #6
Thanks! I was getting this error locally, didn't try CI - 0.4.3 works, closing this one.

[2015-07-30 12:41] #6 closed

[2015-10-12 08:08] borisschapira opened #7 "URL not coming back on search"
Content URL are clearly indexed, but not looked during a search.
That could be problematic if URL is not exactly the slug of the article title.

For exemple, this post : http://borisschapira.com/2014/05/sud-web-2014-de-lidee-au-projet-notes
is well indexed. But if you search on Algolia for "sud-web-2014-de-lidee-au-projet-notes", you'll never find it because of the "notes" wich is not in the title

[2015-10-12 08:09] borisschapira commented on #7
Note: I could not find an example on your demo as all the article have the same URL as their title.

[2015-10-12 09:29] pixelastic commented on #7
Hello,

The search is only done in your `attributesToIndex`, and by default `url` is not part of it. You can define a custom list of `attributesToIndex` in your `_config.yml` file, under the `algolia.settings` option.

The default list of `attributesToIndex` is `%w(title h1 h2 h3 h4 h5 h6 unordered(text) unordered(tags))`. The order of the `attributesToIndex` is important. Records with a match in

[2015-10-12 09:31] pixelastic commented on #7
Oh, actually, using `slug` instead of `url` might even be better. When using `url` a lot of pages might match when searching for `html`

[2015-10-12 09:43] borisschapira commented on #7
Thanks, it works like a charm.
Maybe you should add what you just explained to the plugin documentation ?

[2015-10-12 11:50] pixelastic commented on #7
Yes, good idea. I just updated the documentation : https://github.com/algolia/algoliasearch-jekyll#settings

Thanks for the feedback

[2015-10-12 12:08] borisschapira commented on #7
Nice, thank you !

[2015-10-12 12:08] #7 closed

[2015-10-24 21:21] borisschapira opened #8 "Reduce the number of entries"
Algolia is registering a lot more entries that I have posts. I think that multiple entries are created for a post, based on the number of paragraphs. Is it possible to desactivate paragraph targeting in order to match a post with an object ?

[2015-10-24 21:42] pixelastic commented on #8
Hello,

The plugin currently create a record for each `p` of your entries. This is done in order to have a good relevance on the results. If we were to index the whole content in one record, when you start searching for `foo bar`, you would match every entry with `foo` at the start and `bar` at the end. Splitting by paragraph (and grouping by url) let us always have a nice relevance.

You can twea

[2015-10-25 07:00] borisschapira commented on #8
Hum ok, so I'll need to remove some posts from borisschapira.com if I want to respect the 1000-entry limit of the Hacker Plan. Thanks for the explanation :)

[2015-10-25 07:00] #8 closed

[2015-10-26 09:51] pixelastic commented on #8
As a side note, you can use the [AlgoliaSearchRecordExtractor.custom_hook_each](https://github.com/algolia/algoliasearch-jekyll#hooks) hook to have more control on which record should be pushed and which should not. If you return `nil`, it won't be pushed.

[2015-11-01 20:11] iloveip opened #9 "jekyll algolia push command is not working"
Hi there,

I followed your instructions and installed Jekyll Algolia as a gem. But when I try to run `$ jekyll algolia push`, I get an error:
[code]

How can I fix that?

[2015-11-01 20:13] borisschapira commented on #9
Hello @iloveip : is the simple "jekyll" command available ? If not, you have a problem with jekyll, not algolia. Maybe the folder of your gems is not in your path ?

[2015-11-01 20:16] svetlanapuro commented on #9
@borisschapira `jekyll` command is available.

[2015-11-01 22:01] redox commented on #9
@iloveip are you using a `Gemfile` for your project or did you install the `algoliasearch-jekyll` gem globally? (it requires a `Gemfile`).

Could you also try to run `bundle exec jekyll algolia push` instead of just `jekyll algolia push`?

Also, maybe you need to explicitly add the gem to your `_config.yml` file, like https://github.com/algolia/bootstrap/blob/algolia-search-v4/_config.yml#L21-L23

[2015-11-02 08:53] pixelastic commented on #9
You need to add the gem to your Gemfile, wrapped in a `group :jekyll_plugins`, and add it to the `gems` configuration option of your `_config.yml`

[code]

[code]

An easy way to test if things are working is simply to call `jekyll` (or `bundle exec jekyll` if you do not have the `bundle` auto-hooks installed). It should display the list of available `jekyll` commands, and `algolia` should be disp

[2015-11-02 10:45] svetlanapuro commented on #9
@pixelastic @redox @borisschapira thank you very much for your help! I wrapped the gem in a `group :jekyll_plugins` and it's working now! The search is really great and I'm looking forward to using it on our Jekyll site. I was looking at different alternatives but none of them compares to Algolia.

[2015-11-02 10:45] #9 closed

[2015-11-02 11:38] iloveip opened #10 "Remove Algolia anchors in the URL"
Hello,

I'm trying to configure Algolia search. When I get search results for a query the url looks like this: `/kb/summary/#algolia:p:nth-of-type(8)`. Is this an intended behavior? How can I remove this anchor from the url and link simply to a page?

[2015-11-02 12:39] borisschapira commented on #10
I was also astonished by this behaviour but I understood when explained in another issue : in fact, Algolia is indexing your content by pieces (see https://github.com/algolia/algoliasearch-jekyll#settings for the settings), including each paragraph separately.

When searched, the index is able to point at the specific paragraph containing the searched term :eyes:

[2015-11-02 12:48] pixelastic commented on #10
As @borisschapira perfectly explained, the anchor in the url is here so the search result is linked to the exact HTML node in the page it references.

If you want to remove it, you can use the custom hooks and override the `url` attribute. For example, you can create a file in `_plugins/search.rb` with the following content (every page in `_plugins` will be loaded by Jekyll).

[code]

Also note th

[2015-11-02 13:16] svetlanapuro commented on #10
@borisschapira @pixelastic Thank you very much for your answers! It would be great if index could point at the specific paragraph, but instead it points at the top of the page, even though the paragraph is at the bottom.

I guess I can simply remove `#algolia:{{ css_selector }}` from:

[code]

Would that be enough?

P.S. I have a few more questions about integrating Algolia, but I'm not sure if Gi

[2015-11-02 13:59] pixelastic commented on #10
My mistake, I thought the `url` was saved, including the `css_selector`, in the record. As they are actually two different fields, you're right that you just have to update the link to target the page without the anchor. That will work.

To scroll the page to the correct part, you need a bit of custom JavaScript. You can have a look at [how it was done](https://github.com/algolia/algoliasearch-jek

[2015-11-02 14:50] svetlanapuro commented on #10
@pixelastic ok, thank you very much.

Actually, I already have this piece of code in my `search.js` file. (I copied the whole `algolia.js` file from Jekyll/Hyde demo.) But it's still not working for me.

[2015-11-02 15:02] iloveip opened #11 "How to change the format of the date for search results."
I would like to change the format of the date for search results. Now it is shown as "two days ago", etc. But I need to have the date in the following format: `%Y-%m-%d` (for example `2015-11-01`). Because then I translate it into Russian using Liquid, as described [here](http://alanwsmith.com/jekyll-liquid-date-formatting-examples).

How can I do it?

[2015-11-02 15:28] pixelastic commented on #10
Sorry to hear that it did not work for you. If you have a public url I can have a look and see what is not working.

But as I understand this issue you prefer having the results pointing to the top of the page anyway. I'll close this issue for now then, but feel free to comment back if you want to push it further.

[2015-11-02 15:28] #10 closed

[2015-11-02 15:40] svetlanapuro commented on #10
Ok, thank you very much. I'll send you a link when I push it to GitHub.

[2015-11-02 15:41] pixelastic commented on #11
By default, each post date is stored in the `posted_at` attribute as a timestamp. When doing a search query, the API will return this timestamp. You will then have to compute this value in the front-end before displaying it if you want to make it more readable.

In the Jekyll/Hyde demo, we use the awesome `moment.js` library to add a new key (`posted_at_readable`) to each result, right before disp

[2015-11-02 18:49] svetlanapuro commented on #11
@pixelastic thank you very much for the hint!

I added the following to my `search.js` file and it's working now:

[code]

[2015-11-02 18:49] #11 closed

[2015-11-02 18:52] pixelastic commented on #11
Perfect :)

[2015-11-06 15:07] jonathanulco opened #12 "Zlib missing"
Hello i'm a noob on ruby and i try to install gem algoliasearch-jekyll with command line like this and i have this issue
[code]
How can i fix it ?
Thx

[2015-11-06 15:18] Jerska commented on #12
Depending on your system, can you try `your_package_manager(brew, apt-get, yum, ...) install zlib` and retry installing it ?
I'd also recommend you to use a `Gemfile` to manage your dependencies, but that's up to you and shouldn't change anything to this issue.

[2015-11-06 15:29] jonathanulco commented on #12
I've tried with zlib-bin but no change. I will try gemfile. Thx

[2015-11-06 15:38] Jerska commented on #12
Can you try with `zlib-dev` or `zlib-devel` too ?

[2015-11-06 16:01] jonathanulco commented on #12
I didn't find `zlib-dev` but i found `zlib1g-dev`

[code]

[2015-11-06 16:16] Jerska commented on #12
Seems like we're making some progress. It seems like you're using ruby 1.9.1 , could you try with the latest version?

[2015-11-06 16:17] Jerska commented on #12
Actually, it seems like it's the documentation installation that failed, I'm not sure wether `gem` rollbacks on error or not, you might be able to use the gem anyway.

[2015-11-06 16:34] jonathanulco commented on #12
Ok thx have a nice day.

[2015-11-06 16:34] #12 closed

[2015-12-04 22:00] iloveip opened #13 "How to add a search cancel button?"
Hi there,

I'm using Algolia search for my Jekyll site. And I would like to add a cancel button as soon as a user starts typing text in a search field. Is there any way to do it? I would really appreciate your help.

[2015-12-06 00:57] pixelastic commented on #13
Hello @iloveip,

This is totally possible, and could be achieved with a bit of JavaScript. The way I would do it is:
- listen to the `keyup` event in the input
- if the input is not empty, display a "Cancel" button, and hide it when the input is empty
- when the cancel button is clicked, clear the input

You can have a look at how [we did it in our Hyde example](https://github.com/algolia/algolias

[2015-12-06 22:36] jelyman2 opened #14 "Deprecation: Document#tags is now a key in the #data hash."
I apologize if this is already mentioned somewhere (could not find it).

When I run `jekyll alogolia push` I get hundreds of these:

[code]

And it's a bit ugly during my deployment process. Any ideas on what's taking place or if there's anything I can do to mitigate this?

[2015-12-07 22:42] svetlanapuro commented on #13
@pixelastic Thank you very much for your reply!

But I still have some difficulties, as I'm just learning JavaScript. To display and hide a cancel button I've written the following code:

[code]

How can I clear the input when the cancel button is clicked? Is it also done with JavaScript?

I would really appreciate your help.

[2015-12-07 23:49] pixelastic commented on #13
As a general good practice, I would first extract the `$('.js-algolia__input')` and `$('.search-cancel')` into variables as you're using them several times. This will prevent jQuery from re-finding them in the DOM everytime.

I would also suggest to have a look at the jQuery `toggleClass()` method that could simplify your code. Other than that, your code seems ok.

To clear the input when the butt

[2015-12-07 23:51] pixelastic commented on #14
Thanks for the report @jelyman2. I'm actually already working on it. This stack of warning messages where introduced by Jekyll 3. If you stay with Jekyll 2.5, you should be ok.

I'm in the process of making the plugin compatible with both 2.5 and 3.0 but I haven't finished it yet.

[2015-12-08 01:08] johlym commented on #14
Awesome, thanks for the update!

[2015-12-08 15:29] svetlanapuro commented on #13
@pixelastic Thank you very much for your help! :) I ended up having the following code, may be someone will need it too:

[code]

There already was a variable for `$('.js-algolia__input')`, so I just added a variable for `$('.search-cancel');`. I will look into `toggleClass()` more. But as for now I couldn't get it to work, because it was simply hiding and showing the cancel button with each new k

[2015-12-08 15:29] #13 closed

[2015-12-08 15:57] iloveip opened #15 "Several Algolia search inputs on one site are not working"
Hi there,

I have one more question. I have different menu for mobile and desktop versions of the site. I've implemented Algolia search in mobile menu, which is not displayed by default. On a desktop version I would like to have Algolia search in a separate page like `search.html`. But when I add Algolia search input to this page, it's not working (the results are not showing).

Is it possible to

[2015-12-08 16:44] pixelastic commented on #15
It is possible to have various search inputs on the same page. We do not advice to have both showing at the same time, because it will confuse the user. But in your case, having one for desktop and one for mobile makes sense.

If you took the code from our Hyde example as a base, you'll just have to duplicate the logic for both inputs, making sure they correctly display the results in the right co

[2015-12-10 22:05] svetlanapuro commented on #15
Hello @pixelastic,
Yes, I used your Hyde theme as an example. I duplicated the code on both pages, but the search works only in one place, on mobile menu. Here is the code I have on both pages:

[code]

In site footer I have:

[code]

When I start typing in the second search input, nothing happens, initial content doesn't get class hidden and search content doesn't get class active.

[2015-12-11 10:26] pixelastic commented on #15
Did you also include the required js files on both pages? Can you see in the Network tab if queries to the Algolia servers are made?

Also do you have a url/repo where I can have a look and test it? I have trouble understanding how your two pages are done :)

[2015-12-11 14:53] svetlanapuro commented on #15
@pixelastic Yes, I have the following files in site footer:

[code]

The site is not finished yet and it's in Russian, but you can see it here http://iloveip.herokuapp.com/, and the repo is here https://github.com/iloveip/iloveip. The search for desktop is here http://iloveip.herokuapp.com/search/. And the search for mobile is in mobile menu. Now only the mobile search works.

[2015-12-12 21:44] pixelastic commented on #15
Ok. I've cloned your repo locally, I'll have a look soon :)

[2015-12-14 10:23] pixelastic commented on #15
I think I found the issue. The code from our Hyde plugin could not work if we're using several inputs on the same page because the `onQueryChange` always reads the value from the first input of the page.

A fix would be to change, in the `onQueryChange` method the line that says `lastQuery = $searchInput.val()` to `lastQuery = $(this).val()`. That was the method will correctly read the value of th

[2015-12-14 10:27] pixelastic commented on #14
Just to let you know I did not forget about this issue, but the setup to run tests under two different Jekyll version is a bit tricky and I did not had time to complete it yet. But this bothers me as well, and this will be fixed soon :)

[2015-12-14 10:32] borisschapira commented on #14
:+1:

[2015-12-14 18:39] svetlanapuro commented on #15
@pixelastic Thank you very much! The second search is working now. But the search cancel button on the second search is not. I have the following HTML mark up for the search:

[code]

And in my JS file I have:

[code]

Does it also have something to do with `keyup` event?

[2015-12-15 10:10] pixelastic commented on #15
I think you should change your keyup code to something like:

[code]

This way, `$(this)` always refer to the input where the `keyup` is firing, whereas the previous code with `$searchInput` was only refering to the first one in your page.

[2015-12-15 16:34] borisschapira opened #17 "no implicit conversion of nil into Hash"
| jekyll               | algoliasearch-jekyll |
|----------------------|-------|
| 3.0.1 | 0.5.3 |

First, thank you for your hard work on this plugin. It's very much appreciated. Now, for the bug...

The command :

[code]

produces the error :
[code]

Even if with `--verbose`mode, I can't manage to produce more info, sorry.

[2015-12-15 16:44] svetlanapuro commented on #15
@pixelastic Yes, everything is working now. Thank you very much for your help! :)

[2015-12-15 16:44] #15 closed

[2015-12-15 16:45] pixelastic commented on #17
Thanks for the report @borisschapira :)

Jekyll 3.0 is not currently supported by the plugin. I plan on supporting it, but haven't yet found the time to fix all the issues. I think this is related to #14.

[2015-12-15 16:46] pixelastic commented on #15
You're welcome, glad I could help :)

[2016-01-06 21:50] straight-shoota opened #18 "Push to tmp index causes failure with index restriction for API key"
My first steps combining jekyll with algolia resulted in the following error message:
[code]

When I tried to put some settings with curl there was no problem, neither with directly using the ruby lib. Only after replaying the exact same requests with curl I figured that my API key simply has no access to the temporary index `"#{index_name}_tmp"` which is automatically used by this gem. My solutio

[2016-01-06 22:24] pixelastic commented on #18
Oh you're right. It pushes to a `_tmp` index and then rename it to do an atomic replacement, so it means your key should have acces to both indices (using `*` wildcard, as you suggested).

Thanks for the report, I'll add a notice to the readme and try to provide better error messages :)

[2016-01-07 00:35] pixelastic commented on #17
Hello @borisschapira,

I've worked on the compatibility with Jekyll v3.0, but I never encountered this issue so I cannot reproduce.

Do you have some code available (a public repo maybe), that I could use to try to reproduce on my end?

[2016-01-07 18:06] borisschapira commented on #17
I've juste update the plugin an tried again. I have the message again, just after the beginning of the first extraction :

[code]

[2016-01-07 18:57] pixelastic commented on #17
Did you try with the `fix/jekyll-v3` branch? I haven't released it on Rubygems yet.

Without more info I'm afraid I won't be able to fix it. Are you using other plugins? Do you have files with empty front matter headers (the part between `---`)?

[2016-01-07 21:00] borisschapira commented on #17
I've just tried with this branch using this syntax in Gemfile :

[code]

but I've got the same error message. I tried removing the 404.md file (preventing the compilation to render 404.html) but now the same error is happening on about.html, and so on and so on. I'm so sorry that there is no stacktrace in verbose mode :sad:…

[2016-01-07 21:29] borisschapira commented on #17
As for the other plugins I use : https://github.com/borisschapira/jekyll/blob/master/Gemfile

[2016-01-08 15:19] pixelastic commented on #17
I cloned your repo and tried to `bundle install` but I got a compilation (!) error about ImageMagick. So I commented out the `jekyll-responsive-image` plugin. `bundle install` worked correctly, but I then had an issue with a bad symlink between `./assets/images` and `_posts/images`. So I stopped investigating :)

I think the issue comes from one of the others plugins that might interfere with this

[2016-01-08 21:17] borisschapira commented on #17
Sorry, I did not do what was needed to easily test this repo (I just wanted to share my config). That's corrected but doing so, I detecter... a simple configuration mistake in the configuration (spaces were missing in the algolia configuration). Now, that's ok.

And tada ! Your branch `fix/jekyll-v3` works very well and my content was pushed.
Next move : incremental push. Good luck :+1:

[2016-01-08 21:17] #17 closed

[2016-01-11 09:00] pixelastic commented on #14
This has been fixed with `v0.6.0` that I just released.

cc @borisschapira @jelyman2

[2016-01-11 09:00] #14 closed

[2016-01-11 09:04] borisschapira commented on #14
:+1: Thanks !

[2016-01-13 13:12] pixelastic commented on #18
I've update the readme, and pushed `v0.6.1` to RubyGems that adds the following error message if it detects that the key does not have access to the `_tmp` index.

![image](https://cloud.githubusercontent.com/assets/283419/12295093/0f9a638e-b9ff-11e5-84f1-c6565496f5bc.png)

Thanks for the report and for helping me make this plugin better :)

[2016-01-13 13:13] #18 closed

[2016-02-04 22:58] jordandanielewski opened #21 "0.6.1 not working with Jekyll 3 or github-pages gem"
Using Github pages with Jekyll 3 ([3.0.2](https://pages.github.com/versions.json))

[code]

[code]

---

[code]

[code]

---

Version 0.6.0 is working fine:

[code]

[code]

[2016-02-06 22:15] pixelastic commented on #21
Hmm, interesting.

Thanks for the report. I'll have a look at the dependencies.

[2016-03-08 09:56] iloveip opened #22 "Exclude div classes from index"
Hello,

I have a question. Is there any way to exclude certain html elements from index? For example, certain `div` and `p` classes?

Also, how can I limit the number of words in search results?

Thank you very much in advance!

[2016-03-08 12:25] pixelastic commented on #22
Hello,

You can configure the [record_css_selector](https://github.com/algolia/algoliasearch-jekyll#record_css_selector) to match only the elements you would like to index. For example if you only want the `div` with class `myClass`, you would put:

[code]

Now if it's easier to exclude elements that to whitelist them, you can use the [custom_hook_each](https://github.com/algolia/algoliasearch-jek

[2016-03-08 13:39] pixelastic commented on #21
@jordandanielewski I just pushed v0.7.0 to rubygems which should fix your issue.

Tell me if this works :)

[2016-03-09 00:12] ghost commented on #21
Working fine :)

[code]

[2016-03-09 19:13] svetlanapuro commented on #22
Hi @pixelastic,

Thank you very much for your reply. I've done the second part (added `attributesToSnippet: 20;` to `_config.yml` file).

Do you have any code examples I could look at for custom_hook_each method? I would like to exclude one `p` with a class and one `div` with a class.

[2016-03-10 11:10] #21 closed

[2016-03-10 11:20] pixelastic commented on #22
I don't have an example, but here is how I would do it:

First, create a `./_plugins/search.rb` file in your Jekyll root directory. Any ruby file in `./_plugins` will be loaded by Jekyll. It doesn't matter if you name if `search.rb` or anything else, though.

In that file, we'll override the `custom_hook_each` of the plugin, like this:

[code]

I will add this example to the documentation, to make

[2016-03-11 09:02] svetlanapuro commented on #22
Hi @pixelastic,

Thank you very much for your explanation and reply! Would something like this be correct?

[code]

[2016-03-14 12:48] svetlanapuro commented on #22
Hi @pixelastic,

In addition to my last question is it ok to put just:

[code]

Or do I have to put both, `node.name` and `node.attr` like this:

[code]

Thank you very much in advance!

[2016-03-14 13:05] pixelastic commented on #22
Actually, `puts` only displays the variable. I just used that as an example. To do what you have in mind, I think this should work

[code]

This would exclude all `div` that have the class `related-article`. Depending on what you exclude, you'll have to adapt it. You can add several `if` in the method, and `return nil` when you want to exclude the element.

[2016-03-14 13:16] svetlanapuro commented on #22
@pixelastic thank you very much! I tried the code above, but I get an undefined method error:

[code]

[2016-03-14 13:25] pixelastic commented on #22
[code]

This might work better. Note that this is more related to ruby than to the plugin itself.

[2016-03-14 13:29] svetlanapuro commented on #22
@pixelastic thank you very much for your help and I'm sorry for the trouble.

I edited the code as follows and it's working now:

[code]

[2016-03-14 13:29] #22 closed

[2016-03-14 15:32] pixelastic commented on #22
No problem, glad to see it works :)

[2016-04-25 01:28] li-xinyang opened #23 "Jekyll Push Consumes Too Much Operations"
I am using an Algolia Hacker plan and using Travis to build my Jekyll site. The site will get rebuild whenever there is a new post which happens multiple times a day.

Currently, my site has around 300+ posts which mean every time Travis build the site and invoke `Jekyll algolia push` it will consume at least 300+ operations.

My question is, is there a way to delta update the index instead of who

[2016-04-26 15:23] faichelbaum opened #24 "No subcommand "algolia""
Hi

I followed the procedure from the readme (including the Gemfile, bundle install, ...) but when running jekyll help, I can't find the algolia subcommand

Any idea how to debug this ?

[2016-04-26 15:54] faichelbaum commented on #24
Ok I found the issue.

In the Gemfile, I use to put the "gem 'algoliasearch-jekyll'" as a regular gem whereas I needed to add :

group :jekyll_plugins do
  gem 'algoliasearch-jekyll'
end

[2016-04-26 16:30] #24 closed

[2016-04-29 13:24] pixelastic commented on #23
Hello,

Currently there is not built-in way inside the plugin to do that. It blindly pushes all records to a temporary index, then override the previous index with the new one, without keeping any record of the previous state.

A way to implement that would be to create a custom `objectID` for each record pushed, that will be a hash of its content. That way if the content changes, the objectID wil

[2016-04-29 13:25] pixelastic commented on #24
Yes, it needs to be in the `:jekyll_plugins` group to be correctly catched by Jekyll. Glad you found the solution :)

[2016-04-29 16:59] ThibautGery opened #25 "Add the collection name in the index"
Is it possible to index the [collection](https://jekyllrb.com/docs/collections/) name like `my_collection` in the documentation exemple ?

[2016-05-02 21:57] pixelastic commented on #25
Not sure I get what you mean. Could you give me an example of the collection files, and the data you would like to index?

[2016-05-03 12:24] ThibautGery commented on #25
On my [project](https://github.com/sgmap/api.gouv.fr/blob/gh-pages/_config.yml), I want to create facet on my different collections: `reutilisation` and `api`. I would love to have an attribute (for example, named `collection_name` with either `reutilisation` or `api`). For now I'm using a custom default variable `layout` in my case

[2016-05-04 11:17] pixelastic commented on #25
Everything that you put in the front-matter (header of the file, between the `---`), will be pushed to the record. You can add your own if you want as a workaround.

I'll add support for this feature in one of the next versions, I'm working on releasing the v1 with a few improvements.

[2016-05-28 15:44] andrewmkrug opened #26 "algoliasearch not registering as a jekyll subcommand"
jekyll 3.1.1 and octopress 3.0.11 (not sure if this affects anything)

I followed the steps outlined in the readme however when running  `jekyll --help` the algolia sub command is not listed.

Are there any troubleshooting steps to help with diagnosis or fixing this?

[2016-05-31 17:47] pixelastic commented on #26
Did you put the plugin in the `:jekyll_plugins` group in your `Gemfile`? That's how Jekyll knows that new subcommands are added.

[code]

[2016-05-31 19:48] andrewmkrug commented on #26
yes i did to that, any other suggestions?

[2016-05-31 20:18] pixelastic commented on #26
Would you have a repository where I could reproduce the issue? Or at the very least a copy of your `Gemfile`?

[2016-05-31 20:32] andrewmkrug commented on #26
[code]

[2016-05-31 23:16] pixelastic commented on #26
Could you try pulling this branch https://github.com/algolia/algoliasearch-jekyll-hyde/tree/issue/command-not-found and run `bundle install` then `jekyll -h` and copy-paste the output?

I put your `Gemfile` in this test repository, and everything is working fine on my side.

[2016-06-01 10:31] andrewmkrug commented on #26
Bundle complete! 6 Gemfile dependencies, 50 gems now installed.
Use `bundle show [gemname]` to see where a bundled gem is installed.
Andrews-MBP-2:algoliasearch-jekyll-hyde-issue-command-not-found andrew$ jekyll -h
WARN: Unresolved specs during Gem::Specification.reset:
      jekyll-watch (~> 1.1)
WARN: Clearing out unresolved specs.
Please report a bug if this causes problems.
jekyll 3.1.1 -- Jek

[2016-06-01 10:44] andrewmkrug commented on #26
While troubleshooting a different issue with `jekyll-paginate` I came across this command from apost saying that there is something weird with my ruby env, but the algolia command is now showing up. There was another post saying that it might be caused by different versions of jekyll being installed

`bundle exec jekyll`

[2016-06-01 21:05] pixelastic commented on #26
Oh right. I made the assumption that you were using `rvm` to handle your various Ruby versions. `rvm` also automatically prefix the `bundle exec` to any command it knows.

I think if you go with `bundle exec jekyll -h` you should have `algolia` displayed as a command. Could you confirm?

[2016-06-02 00:10] andrewmkrug commented on #26
i thought i was using rvm, apparently not though, new laptop setup sometimes takes a while, thanks though, I do have the algolia subcommand showing up

[2016-06-02 00:10] #26 closed

[2016-06-02 00:13] pixelastic commented on #26
Great, glad you managed to fix it :)

[2016-06-28 14:40] pixelastic opened #27 "Ease the front-end integration"
It would greatly help adoption if the plugin had a front-end library to easily drop in any Jekyll theme.

Basically it would need a CSS selector to target the input that will be used as the search box. And a choice of either displaying results in a dropdown (then loading autocomplete.js), or on a full page text (loading a custom script).

For the full page text, I'll also need to let users define

[2016-06-28 14:55] pixelastic commented on #27
Maybe creating a library would be overkill and not flexible enough. Patching Hyde with an autocomplete and a full page search might be enough, with the blog post/tuto/guide that explain in detail how it is done so other can apply the same principle to other themes.

[2016-07-07 10:50] pixelastic opened #28 "Errors: Make a more explicit error message for big records"
When currently trying to push a record over the limit, the user is greeted with

[code]

Could be nice to catch the error and provide an explanation and work-arounds.

[2016-07-08 15:09] pixelastic commented on #28
This is fixed in the `v1` branch

[2016-07-08 15:58] pixelastic commented on #25
Fixed in the `v1` branch

[2016-07-11 11:57] akshayKMR opened #29 "add option to pick index_name, application_id from environment variables"
Would it be possible to have these settings picked up from environment variables (optional if not found in config.yml). This is to switch the index to which the records are to be pushed based on these values, rather than having it fixed in config.yml.
Thanks.

[2016-07-11 14:07] pixelastic commented on #29
Great idea. I'll add that on the v1 roadmap

[2016-07-12 09:57] pixelastic commented on #29
This has been added in the v1 branch.

[2016-07-13 05:45] akshaykmr commented on #29
Thanks! Is there anyway I can use it now? We need this to work asap.

[2016-07-13 09:38] #29 closed

[2016-07-13 09:40] pixelastic commented on #29
I've just ported it to master. You should be able to try version 0.8.0.

Just define `ALGOLIA_INDEX_NAME` and `ALGOLIA_APPLICATION_ID` as environment variables and they will be used instead of the values in `_config.yml`.

Tell me if this works for you.

[2016-07-13 09:51] akshaykmr commented on #29
Working, thanks for quick response :)

[2016-07-13 14:00] nhoizey opened #30 "Add support for API write key in a config file"
I use several Jekyll plugins that take API keys from a config file instead of environment variables. Not the default `_config.yml`, which is often tracked in the versioning system, but another that is not tracked.

I have a `_config_credentials.yml` file for example, and I run Jekyll commands like this:

[code]

Would this be possible here?

[2016-07-13 14:26] pixelastic commented on #30
You can already create a file named `_algolia_api_key` (that contains your API key) in the same directory than your `_config.yml` and the plugin will pick it up.

Would that work for you?

[2016-07-13 14:41] pixelastic opened #31 "Renaming plugin to jekyll-algolia"
The [Jekyll Style Guide](http://ben.balter.com/jekyll-style-guide/) mention that plugins should be prefixed with `jekyll-`.

I'm not sure how "official" this styleguide is, but it seems to be the only one existing.

[2016-07-13 22:41] nhoizey commented on #30
I saw this in the doc, but it would be easier for me to have all credentials in one single YAML file.

An example is the Twitter plugin: https://github.com/rob-murray/jekyll-twitter-plugin#credentials

I can do without it of course, it's just a matter of convenience… ;-)

[2016-07-15 08:52] pixelastic commented on #30
I think having two configuration files (one to be commited and one to be left out) would be too confusing for users. I'd rather stay with the  `_algolia_api_key` file and the explicit note about not committing it.

[2016-07-15 08:52] #30 closed

[2016-07-18 10:23] akshayKMR opened #32 "HTTP error: cannot reach any host : execution expired"
`bundle execute jekyll algolia push` returns the following error inside vagrant

[code]

[2016-07-18 12:25] akshaykmr commented on #32
I pinged the servers it would call normally from within vagrant and all of them seem to respond quickly.

[code]

Any insight on what might be causing this error? I don't think its related to vagrant. using version 0.8.0 Thanks

[2016-07-19 12:25] pixelastic commented on #32
Could you try to ping (from inside Vagrant) the following hosts:
- {APPID}-dsn.algolia.net
- {APPID}.algolia.net

With `{APPID}` being the `application_id` defined in your `_config.yml`. Also, could you share this APPID here so I can have a look as well?

[2016-07-20 12:34] pixelastic commented on #32
ping @akshayKMR

[2016-07-20 12:41] pixelastic commented on #23
I've added the `lazy_update` option in the `v1` branch. When set to true, it will:
- Delete records in the index that are no longer in the local version
- Push records in the local version that are not yet in the index
- Do nothing for all the other records

This should greatly reduce the number of operations used. The drawback is that it won't be an atomic update (ie. you can have your data in an

[2016-07-20 13:34] akshaykmr commented on #32
Whoops sorry for late response. It was a DNS issue with our vagrant box. Had to edit `/etc/resolv.conf`. Thanks

[2016-07-20 13:49] pixelastic commented on #32
Glad to hear you resolved it :)

[2016-07-20 13:49] #32 closed

[2016-07-25 03:16] danielms215 opened #33 "Search isn't responsive on mobile"
The search bar doesn't work on mobile. Well, it works, but you have to manually click out. Enter doesn't close the keyboard and so it makes the interaction really awful.

[2016-07-25 13:51] pixelastic commented on #33
Hello @danielms215,

This plugin only takes care of the indexing part, not the UI. Could you give me the link of the website where you saw this issue?

[2016-07-25 13:53] pixelastic commented on #31
- [x] The plugin should be renamed to `jekyll-algolia` instead of `algoliasearch-jekyll`.
- [x] See if I can rename gems or if I'll need to create a new one
- [ ] ~~New class should be in `Jekyll::JekyllAlgolia` (because I'm monkey-patching stuff)~~

[2016-07-25 16:26] copycatchiller commented on #33
I see!
The website is [here.](http://shoulditakethecredit.com/faq)

[2016-07-26 13:42] pixelastic commented on #33
May I ask you to submit the issue on our [Hyde fork](https://github.com/algolia/algoliasearch-jekyll-hyde/issues) instead?

I'll rework on the theme in the near future to make it compatible with the upcoming v1 of the plugin, I'll try to enhance the mobile navigation at the same time. Don't hesitate to post a link to the website, the issue and what you would think would be better, this will help m

[2016-07-26 13:42] #33 closed

[2016-07-28 14:11] akshayKMR opened #34 "Error: undefined method `text' for nil:NilClass"
I have been constantly getting this error, whereas jekyll build works without any errors.

[code]

[2016-07-28 14:42] akshaykmr commented on #34
I'll provide some context.

[code]

Notice the comment tag. I would be getting the above error with this. Now as in the next piece of code If I move the comment tag one level up to include the div(content action). like so

[code]

Then it works. Also works if I remove the div tag keeping it's inner contents(and removing the comment tag altogether). This behaviour is totally bizarre.

[2016-07-28 21:33] nhoizey commented on #31
On the same topic: https://github.com/jekyll/jekyll-admin/issues/25

[2016-07-28 21:42] nhoizey opened #35 "URL of pages are incomplete"
I use this plugin to index [my blog](https://nicolas-hoizey.com/). It indexes both posts and pages.

For example, a search for `algolia` lists 2 posts and 1 page:
https://nicolas-hoizey.com/recherche.html?q=algolia

The posts' URL are the good ones, but the page's URL misses the `.html` at the end.

[2016-08-01 09:40] pixelastic commented on #35
Interesting. Could you tell me which version of the plugin you're using?

[2016-08-01 09:43] pixelastic commented on #34
Thanks for the report, I'll have a look.

Would you have a repository of your whole website so I can replicate the issue on my side? If not I'll try with your code snippets, but this would be easier with the full picture :)

[2016-08-01 13:23] nhoizey commented on #35
I'm not able to index anything currently, so I'll have to fix this first, sorry… :-/

[2016-08-01 14:44] nhoizey opened #36 "Unable to index, the task says it can find Jekyll"
When I run this command:

[code]

I get the attached console messages: [algolia.txt](https://github.com/algolia/algoliasearch-jekyll/files/394041/algolia.txt)

The `Youtube` and `Vimeo` lines come from another plugin, when building the site.

The interesting part starts with these lines:

[code]

Then, almost 1000 lines later:

[code]

I can run `bundle exec jekyll build` to build the site, so I d

[2016-08-02 08:49] pixelastic commented on #36
I never had this "stack level too deep" command before.

When you run `bundle exec jekyll algolia push`, the plugin actually override the internal `.write` method used by the `build` command, and runs a `build`. Instead of writing HTML files on disk, it pushes to an Algolia index. Here it seems that the `jekyll` the plugin tries to overwrite is not the same jekyll that was originally used...

Woul

[2016-08-02 11:52] nhoizey commented on #36
It is current `master` on https://github.com/nhoizey/nicolas-hoizey.com

Be careful, there are 150 Mb posts data… ;-)

[2016-08-03 19:47] akshaykmr commented on #34
Cannot share the repo. I ended up just renaming that div tag to `article`.  😕

[2016-08-04 07:03] akshayKMR opened #37 "Feature Request: Add ability to push to any index"
Currently one can only push to a single index, set in configuration. This works well if generated indices are similar in nature. However there are some limitations as when the indices are different in content,  one cannot leverage multiple sources in autocomplete.js for better styling and separation.

Not sure of the best way to implement it. Maybe let the user set a specific key in return `item`

[2016-08-04 11:21] pixelastic commented on #34
OK, glad you managed to work around the issue.

I have no idea what could cause this, I will try to replicate it.

On Wed, Aug 03, 2016 at 9:48 PM, Akshay Kumar < notifications@github.com [notifications@github.com] > wrote:
Cannot share the repo. I ended up just renaming that div tag to article .

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub [http

[2016-08-09 13:09] pixelastic commented on #37
Interesting idea. Just to be sure I understand it correctly, you would like, for example to push all your `posts` to a `posts` index and your `pages` to a `pages` index? With the name of the index being of your chosing of course.

Would it be possible for you to achieve the same effect by using facets? In this example defining the `type` (`page`/`post`) as a facet and using two different sources i

[2016-08-21 22:20] iloveip opened #38 "Exclude a collection from search"
Hi there,

Is it possible to exclude a whole collection from search instead of individual files?

[2016-08-23 08:33] borisschapira opened #39 "Possibility to dissociate build and push"
Hi!

I use a CI process for my Jekyll website with a double test gate:

1. I test my blog posts (in fact, a script verifies that all Front Matter are valid YAML)
2. I build my website
3. I test the result with html-proofer
4. If everything is good, I push the _site directory to Production and index the content in Algolia

As my building and indexing phases are separate, my CI process is very long

[2016-08-23 08:47] redox commented on #39
Hi @borisschapira,

from what I [remember](https://github.com/algolia/algoliasearch-jekyll/blob/master/lib/push.rb#L82-L96), we use the regular build workflow and are just replacing the final `write` step to push to Algolia. So that won't be possible as-is. @pixelastic will need to confirm, but he is current enjoying a bit of ☀️ 🌅 🌴  and will be back in 2 weeks 👍

[2016-08-23 08:50] borisschapira commented on #39
So I expect he will not answer until then, there is no rush and the mojitos can't wait! 😄

[2016-08-31 15:23] pixelastic opened #40 "Enhancement: Using the new facetingAfterDistinct=true for correct facet count"
The API now accept an `facetingAfterDistinct=true` that does the count of facets after the `distinct` (default is to do it before). Without this option, the count for facets when doing a distinct was "wrong" (ie. it did not take the distinct into account, returning way higher count that what was visible).

This option allow to fix this issue, but come with a performance counterpart on big indices.

[2016-08-31 15:29] rayrutjes commented on #40
You should wait just a bit, because we currently have an issue with the feature when the query is empty ;)

[2016-08-31 15:33] pixelastic commented on #39
Hey @borisschapira,

I understand the pain it is to have a long build process on CI... But as @redox was saying, the plugin monkey patches the internal `write` method that is normally used by Jekyll for writing HTML files on disk. In other words, it does not read the generated HTML files to build the index, it actually _replace_ the writing of HTML files on disk with the building of the index.

Th

[2016-08-31 15:33] #39 closed

[2016-08-31 15:40] pixelastic commented on #38
Hello,

You should be able to use the `custom_hook_each(item)` [hook](https://github.com/algolia/algoliasearch-jekyll#hooks) to exclude some items based on the attributes of `item`.

The v1 of the plugin (not yet officially published on RubyGems) adds an attribute `collection_name` to the collection items. I'll do my best to release the v1 shortly.

[2016-08-31 15:41] pixelastic commented on #37
Ping @akshayKMR, did you give a go at my suggested workaround?

[2016-08-31 15:51] nhoizey commented on #35
Sorry, my previous answer was out of topic.

I use this:
- algoliasearch-jekyll 0.8.0
- algoliasearch 1.10.0

[2016-08-31 18:13] pixelastic commented on #40
Also, the feature is query-time only so its place should not be in the plugin code, but in the front-end examples.

[2016-09-01 16:52] svetlanapuro commented on #38
Thank you very much for your reply! I will be looking forward to v1.

[2016-09-01 18:53] #38 closed

[2016-09-12 12:34] Shipow opened #41 "Timeout at indexing time"
Timeout on a poor bandwidth (350kb/s down- 35kb/s up) with 0.8.0
I tried the RC but it indexed only pages.

Here the project I used for those tests: https://github.com/Shipow/cleanflight-web

[2016-09-15 06:08] akshaykmr commented on #37
I'm currently not working on that project. But I'm sure what you suggest will achieve the same effect, ideally though some would prefer to keep indices separate eg. an index for movies and another for actors etc. i.e when the content is largely different.

[2016-09-18 18:28] pixelastic commented on #41
Thanks. I'll give it a try (low on by backlog at the moment, but I'll get to it eventually).

[2016-10-15 13:45] svetlanapuro commented on #38
Hi there,

Are there any news on releasing v1?

[2016-10-17 09:47] pixelastic commented on #38
Hello,

I've fallen behind on the schedule of releasing v1 officially, but you can find it here: https://rubygems.org/gems/algoliasearch-jekyll/versions/1.0.0.beta.pre.1

In your Gemfile, specify the version as `1.0.0.beta.pre.1` and you will have the feature discussed above

[2016-10-19 23:24] svetlanapuro commented on #38
Hello,

Thank you very much for your reply. I upgraded to version `1.0.0.beta.pre.1`, but then had to go back to the previous version. In version `1.0.0.beta.pre.1` there is missing some information about the records. For example, for each page I have a label, page views and a date. They were displayed in the search results like this:

[code]

If I use version `1.0.0.beta.pre.1`, instead of this i

[2016-10-25 08:21] pixelastic commented on #38
I'll focus on releasing the official v1 first week of November. I'll handle this issue at that time, sorry about the delay but don't worry, we'll get that fixed :)

[2016-10-25 10:06] svetlanapuro commented on #38
@pixelastic Ok, thank you very much, I will be looking forward to it. And when v1 is released, would this code be correct to exclude a collection from search?

[code]

[2016-10-25 10:14] pixelastic commented on #38
I'll have to check, but I think it will more be something like:

[code]

[2016-10-25 12:33] svetlanapuro commented on #38
@pixelastic Ok, thank you very much!

[2016-11-10 13:12] pixelastic commented on #38
@iloveip I'm sorry I haven't been able to find the time to work on it as I said. I'll do my best but can't really give an ETA. Sorry about that.

[2016-11-21 13:29] bomberstudios opened #42 "Content not rendered with Liquid before indexing?"
Hi there,

I have a Jekyll site that uses the https://github.com/rustygeldmacher/jekyll-contentblocks plugin, and also some `{% include … %}` blocks. I was experimenting with the Algolia search plugin, and found out that it wasn't processing Liquid blocks on my content.

I have replaced

[code]

with

[code]

on `lib/record_extractor.rb` so that my content is fully rendered.

I understand this is

[2016-11-21 21:20] pixelastic commented on #42
Hello,

The plugin is supposed to simulate a `jekyll build`, but intercept files before they are written on disk and push the content to Algolia instead. I thought it would catch every possible plugin application, but apparently there are other sneaky ways :)

I would be very interested in your PR, especially if you can add some tests for this behavior. That being said, I have been working on an o

[2016-12-10 04:25] tomjohnson1492 opened #43 "Error: API key cannot write to {index_name}_tmp index"
I'm trying to integrate Algolia with my Jekyll site by following the instructions here. The instructions say,

However, the instructions don't explain how to enable write access to index_name and _tmp. As a result, when I try to push my index, I get this error:

In my Algolia Dashboard, the Admin API key is the same for both of my indexes (the regular one and the _tmp) one. How do I give my index_

[2016-12-12 10:55] pixelastic commented on #43
Hello,

You need an API key that can push content to both `index_name` and `index_name_tmp`. You can use your Admin API key (because it has write access to all your indices), or create a custom key with only write access specific indices. I would suggest using a custom key, it is either to revoke in case it leaks.

To do that, you need to add a new key through your dashboard, and give it access to

[2016-12-14 20:51] tomjoht commented on #43
Thanks. I did have the Admin API key initially when I encountered this message. I created a custom key like you suggested, and I was able to push just fine.

[2016-12-14 20:51] #43 closed

[2017-01-11 11:15] msokk opened #44 "Ruby 2.4 compatibility"
Looks like this gem depends on json `~> 1.8`, which does not support `Integer` unification, so it cannot be installed on Ruby 2.4.

[2017-01-11 12:32] redox commented on #44
(see also https://github.com/flori/json/issues/311)

[2017-01-12 12:12] redox commented on #44
`json@1.8.5` has been released; adding the 2.4.0 support \o/

[2017-01-12 12:12] #44 closed

[2017-01-23 17:58] svetlanapuro commented on #38
Hi there,

Do you have any updates on releasing v1?

[2017-01-24 15:16] pixelastic commented on #38
Unfortunatly no, I have currently no ETA visibility so I'd rather not say anything as I might not be able to be true to my word :(

Do you have a specific issue that is blocking you?

[2017-01-24 21:10] svetlanapuro commented on #38
@pixelastic ok, I understand.

I have several collections on my site, and I would like to exclude one of them from search. When I tried to upgrade to v.1.0.0.beta.pre.1, I faced an issue, where some information about the records is missing. I described it here https://github.com/algolia/algoliasearch-jekyll/issues/38#issuecomment-254969213. So I had to roll back to the previous version and delete

[2017-02-09 14:48] keybits opened #45 "Status of V1"
@pixelastic we're about to set up this plugin for a new docs site. Should we use V1 branch? Are you planning to start updating it again soon?

Thank you for your work on this.

[2017-02-09 15:27] pixelastic commented on #45
Hello @keybits,

v1 is working, as far as I can tell. It's fully tested, compatible with Jekyll 2 and 3, but I'm the only one that ever used it in production. As it's not officially released, it's not yet officially supported by Algolia.

Thanks for bringing this back to my attention, I'm checking with the rest of the team to take some decision about what to do with this plugin. We don't feel it w

[2017-03-17 19:40] jackiejohnston opened #46 "Typo in README"
`return true if filepath =~ %r{^/excluded_dir/}` needs to be changed to `return true if file.path =~ %r{^/excluded_dir/}`

[2017-03-17 23:10] #46 closed

[2017-04-16 17:07] lingxz opened #48 "algolia selector returning undefined"
Hi, I'm using Algolia search for my blog, and for some reason the algolia selector is always returning undefined, and I can't seem to figure out why. The site is [here](https://theconfused.me) and the source code is [here](https://github.com/lingxz/lingxz.github.io). I'm using the js from jekyll-algolia-hyde with a slight modification. Thanks!

[2017-04-16 17:14] Haroenv commented on #48
I think there’s a small mistake in the html for your input, I made a PR to your repository: https://github.com/lingxz/lingxz.github.io/pull/15

[2017-04-16 17:20] lingxz commented on #48
thanks @Haroenv! but the issue still persists, apparently.

[2017-04-16 18:35] svetlanapuro commented on #38
Hi there,
Do you have any updates on v1?

[2017-04-18 07:48] svetlanapuro commented on #45
Hi there,
Do you have any updates on v1?

[2017-04-18 13:56] DirtyF commented on #45
Usually the proper response is: when it's finished :)

[2017-04-18 14:52] svetlanapuro commented on #45
@DirtyF Yes, I understand :) But I have a particular problem, which I described here #38, and I can not update my search index. That's why I'm asking.

[2017-04-18 15:17] pixelastic commented on #45
I'd love to be able to give you more news, but so far it hasn't moved. I still want to resurect it, but still don't have an ETA. Sorry I can't tell you more :/

[2017-04-19 09:09] pixelastic commented on #48
Hey @lingxz, could you give me a link to the file that contains the `undefined` selector? I have trouble finding the relevant one in your repo :)

[2017-04-19 11:36] lingxz commented on #48
hi @pixelastic, the relevant algolia files are [here](https://github.com/lingxz/lingxz.github.io/blob/781da2d7080374b43f0ca65cae751d81b3939eb3/_includes/algoliasearch.html#L12) and [here](https://github.com/lingxz/lingxz.github.io/blob/b0148d18e61c7a0e0ede92751af1ac40b64df4ca/assets/js/algoliasearch.js), and the search box is [here](https://github.com/lingxz/lingxz.github.io/blob/master/_pages/sea

[2017-04-24 14:08] lingxz commented on #48
Ah, it seems that when using v1, the css_selector property is not indexed properly. When using v1, the css_selector shows as null but when I revert back to using the released 0.8 version, all is working well.

[2017-04-24 20:22] pixelastic commented on #48
If you're using the `v1`, the key is actually named `record_css_selector` there. Note that `v1` is not (yet) officially released. You should be able to find all the relevant configuration options and documentation [here](https://github.com/algolia/algoliasearch-jekyll/tree/v1).

I'm closing the issue as it seems to fix your issue. If not, feel free to comment and I'll re-open it.

[2017-04-24 20:22] #48 closed

[2017-04-24 20:40] pixelastic commented on #38
I'd love to be able to give you more news, but so far it hasn't moved. I still want to resurect it, but still don't have an ETA. Sorry I can't tell you more :/

[2017-05-18 06:41] gosupernova opened #49 "Plugin not pushing all pages to index"
I am running the plugin with the terminal output looking ok 'Indexing of 1306 items' but when I look on the Algolia dashboard it looks to have only indexed 6 pages where it should be around 50

I have tried create a new index, removing any excluded files and using the default settings. I have also looked at the --verbose output and the data is there but not all of it is being pushed up, any ideas

[2017-05-18 10:59] stevetrask commented on #49
I found the issue it's nesting the data incorrectly and putting the pages inside other objects and duplicating object ids

[2017-05-18 11:50] pixelastic commented on #49
The plugin will look at the final generated HTML pages to index content. In your case it seems like it is maybe indexing "index" or "archive" pages (that would contain many different posts in one HTML) and somehow skipping the most interesting files.

You can check if my assumptions are correct by looking at the `url` field of the records.

You can define your own set of excluded files by using th

[2017-05-18 12:04] stevetrask commented on #49
Thanks for the response, I only excluded, 404, 502 and htaccess - seems to have got in a real muddle reading the data. We have decided to move to a more controlled way to do this, so Jekyll creates a json file that we can have more flexibility with, would be great if there was an off the self grunt task to push that files contents!

[2017-05-18 12:04] #49 closed

[2017-06-13 12:00] pixelastic opened #51 "Catch errors when zero element indexed"
We should catch indexing that index zero results as it is surely an error in the configuration. The error message should indicate pointers as to how to resolve this.

The most common case of empty indexing would be a CSS selector that does not match anything. This can happen when the selector includes elements that are defined in the layouts, as layouts are removed before parsing. The error messag

[2017-07-26 20:31] robbiejaeger opened #52 "Unable to exclude files from indexing based on directories"
I would like to exclude files from being indexed in my Jekyll site based on the directory the files are in. There are too many files in some directories to exclude them one-by-one. I have tried specifying this in my `_config.yml` file, but it does not seem to work:

[code]

`archive` is a directory at the root of my Jekyll project, and it contains many files. It would be great to exclude all of th

[2017-07-26 22:38] #52 closed

[2017-07-26 22:40] robbiejaeger commented on #52
I was overcomplicating things. I just needed:

[code]

[2017-08-01 12:15] nhoizey opened #53 "Update json dependency to v2.0"
I'm trying to use both `algoliasearch-jekyll` and [`jekyll-webmention_io`](https://github.com/aarongustafson/jekyll-webmention_io) on [my website](https://github.com/nhoizey/nicolas-hoizey.com).

But:
- `algoliasearch-jekyll` requires `json` 1.8
- `jekyll-webmention_io` requires `json` 2.0

I tried to fork `algoliasearch-jekyll` and on the `develop` branch [update the `Gemfile`](https://github.com

[2017-08-02 10:36] nhoizey opened #54 "Update nokogiri dependency to version 1.7.2 or higher"
There is a vulnerability in nokogiri versions < 1.7.2: https://snyk.io/vuln/SNYK-RUBY-NOKOGIRI-20367

[2017-08-02 11:03] redox commented on #54
Thanks for spotting that, on it!

[2017-08-02 11:05] #54 closed

[2017-08-02 11:21] nhoizey commented on #54
Thanks!

[2017-08-02 12:28] redox commented on #54
Released in 0.8.1

[2017-08-02 16:30] gavenheim opened #55 "Nokogiri Error"
When running `bundle exec jekyll algolia push` on Jekyll version 3.5.1 I get an error: `Error: undefined method 'parent' for #<Nokogiri::HTML::Document:0x007f8aabde5fc0>`.

I'm running Ruby version 2.3.0. Any ideas? Or anyone else experiencing this issue?

Thanks!

[2017-08-02 16:54] redox commented on #55
Arg, this might be related to the recent upgrade we did. Could you try downgrading to Nokogiri `1.6.x` and algoliasearch-jekyll `0.8.0` ?

[2017-08-02 16:58] redox commented on #55
@gavenheim could you provide us the backtrace?

[2017-08-02 17:59] gaven commented on #55
Hey, thanks for your response. I seemed to have figured it out. It looks like some inline styles were causing the error. Thanks for your time.

[2017-08-02 19:37] nhoizey opened #56 "Better explain the difference between record_css_selector and attributesToIndex settings"
I still don't understand how `attributesToIndex` can contain headings when the default `record_css_selector` only targets `<p>`s…

[2017-08-02 19:40] nhoizey commented on #36
Exactly one year later (nice coincidence), I still got the issue.

I'm now using Jekyll 3.5.1 and algoliasearch-jekyll 0.8.1

Full Gemfile.lock [here](https://github.com/nhoizey/nicolas-hoizey.com/blob/master/Gemfile.lock).

[2017-08-02 19:53] redox commented on #36
I'll let @pixelastic come back from vacation and handle that later this month :)

[2017-08-02 20:37] #53 closed

[2017-08-02 20:38] redox commented on #55
Would love to still  handle that on our side; do you still have a backtrace so we can `rescue` it from here?

[2017-08-02 22:26] nhoizey commented on #36
@redox no problem… ;-)

[2017-08-28 17:54] bdombro commented on #55
I had the same error, even when forcing Noko 1.6.x and AlgS 0.8.0. I found that this snippet is causing the error:

[code]

Log:
[code]

[2017-09-05 23:34] david476 opened #57 "Algolia push error: "no implicit conversion of nil into Hash""
[Jekyll site](https://github.com/CFRCR/CFRCR), stacktrace:
[code]

Anything else I can provide?

[2017-09-05 23:39] david-boles commented on #57
I'm building entirely from the command line with:
`ALGOLIA_APPLICATION_ID="XNTLRPVD7E" ALGOLIA_INDEX_NAME="CFRCR" ALGOLIA_API_KEY="<my admin key>" jekyll algolia push --trace`

[2017-09-06 23:15] david-boles commented on #57
I dug into the code just a tiny bit and it looks like an issue when you don't specify anything for algolia: in your config. I added it with the application_id and index_name and it no longer errors. Unfortunately I don't know Ruby to fix it myself but it looks trivial.

[2017-09-07 05:34] Haroenv commented on #57
Thanks a lot!

[2017-09-18 18:21] theahmadzai opened #59 "Cannot install algoliasearch-jekyll"
Getting an error when installing "algoliasearch-jekyll"

**Ruby 2.3
Jekyll 3.5**
------------
`gem install algoliasearch-jekyll` is causing this error

[code]

when running bundle install and adding `algoliasearch-jekyll` to Gemfile also not working

My Gemfile

[code]

Also deleted the gemfile.lock then ran bundle install still won't work

[2017-09-19 08:27] Haroenv commented on #59
I think that this is related to issues like these: https://stackoverflow.com/a/17552710/3185307, did you try those solutions?

[2017-09-19 20:20] theahmadzai commented on #59
Worked ran command window as administrator :)

[2017-09-19 20:45] theahmadzai commented on #59
Another issue appeared

[code]

my config in config.yml is

[code]

is there anything else to set?

[2017-09-20 09:24] Haroenv commented on #59
Hey @theahmadzai, you just posted your private API key on a public forum. I edited your message, but you better revoke this key and generate a new one.

As for your issue, it's because your record is bigger than 10kb, you can split it up with the instructions in the error message [here](https://github.com/algolia/algoliasearch-jekyll/blob/dcfb1529eab0278da9fac8e1d39eb3d93eb552ec/txt/record_too_big

[2017-09-20 09:24] #59 closed

[2017-09-20 09:26] Haroenv commented on #28
this is a great error message, wish it was visible to users already 😂, see #59 for someone recently having this error

[2017-09-21 11:14] theahmadzai commented on #59
Oh lol..
Thanks, I revoked it anyways I solved everything thanks.

[2017-09-21 11:40] Haroenv commented on #59
perfect @theahmadzai

[2017-09-27 14:07] tkfu opened #61 "Asciidoc files don't get indexed"
Jekyll supports file types beyond markdown and HTML via extensions like jekyll-asciidoc, but there is currently no way to make algoliasearch-jekyll index these. I've submitted #60 to fix this.

[2017-10-16 11:12] tkfu commented on #61
Closed by #60.

[2017-10-16 11:12] #61 closed

[2017-10-25 19:07] mkiser opened #62 "Synonyms deleted on index"
I set synonyms in the Algolia dashboard and save. I can query and get the correct results.

When I `bundle exec jekyll algolia push` to reindex posts, the synonyms get erased.

Here's a snippet of my `_config.yml` file:

[code]

Any help or possible work arounds here?

x-posted to the [Algolia community board](https://discourse.algolia.com/t/synonyms-getting-replaced-on-index/388/1).

[2017-10-25 20:38] mkiser commented on #62
My Ruby and knowledge of Algolia is pretty bad, but I think somewhere in [here](https://github.com/algolia/algoliasearch-jekyll/blob/master/lib/push.rb#L105) there needs to be a GET to grab all the current synonyms for the index and pass them to the temp index, as outlined in the [Algolia docs here](https://www.algolia.com/doc/api-reference/api-methods/move-index/?language=ruby#updating-an-index-e

[2017-10-25 20:55] redox commented on #62
Yes, that's correct. The temporary index doesn't have synonyms and therefore overrides them while atomically replacing the production index.

@pixelastic one thing you could do instead of building a new index from scratch is copy the current one + clear the copy; before pushing the settings + data.

[2017-10-25 22:09] nhoizey commented on #36
Still got the issue with Jekyll 3.6.2 and algoliasearch-jekyll 0.9.0

[2017-10-25 22:56] mkiser commented on #62
Algolia docs suggest using `Get settings` to get `Get synonyms`, and then apply the settings and synonyms to the temp index using `Set settings` and `Batch synonyms`.

https://www.algolia.com/doc/api-reference/api-methods/move-index/?language=ruby#updating-an-index-every-night

[2017-10-26 08:14] nhoizey commented on #36
More than one year ago, I used this Rake task to index my Jekyll site:
https://github.com/nhoizey/nicolas-hoizey.com/blob/jekyll2/Rakefile

If I try it now, it looks like it doesn't load the plugins to generate the site, which obviously leads to an error:

[code]

Any idea why it doesn't load the plugins?

[2017-10-26 08:25] nhoizey commented on #36
It looks like Rake wants the plugins to be listed in `_config.yml`.

But I use `bundler exec jekyll build` to build the site, and [the `:jekyll_plugins` group in my `Gemfile`](https://github.com/nhoizey/nicolas-hoizey.com/blob/master/Gemfile#L8-L19) is enough.

Any way to tell Rake to load plugins that are listed here?

It also means I have to install plugins with `gem` in addition to `bundle`…

W

[2017-10-26 08:30] DirtyF commented on #36
@nhoizey FWIW this is how jekyll require the gems from Bundler: https://github.com/jekyll/jekyll/blob/73419cb374be1b8f45818a23116cf71db93549ce/lib/jekyll/plugin_manager.rb#L51

[2017-10-26 08:50] redox commented on #62
Yes, that's what we do to avoid duplicating the number of records. The copy is just another option.

[2017-10-26 17:18] johlym commented on #45
For what it's worth, we pulled the repo and built the gem using the v1 branch for the `lazy_update` logic and it's been working great. YMMV, of course, but if that's the only reason you want to use v1, it seems fine.

[2017-10-26 20:46] nhoizey commented on #36
@DirtyF yes, I know, but it looks like Rake doesn't know it and requires me to add the plugins list in `_config.yml`. But even with that, I get an error:

[code]

[2017-10-30 10:53] pixelastic commented on #45
Thanks for the info. I'm going to dive deep into the last remaining bugs in the coming weeks in order to officially release the v1 branch. Release is coming :)

[2017-10-30 10:53] #45 closed

[2017-10-30 10:59] pixelastic commented on #57
Thanks for the report and for digging into the code @david476. I'll have this fixed :)

[2017-10-30 11:01] pixelastic commented on #55
I think this error is coming from the fact that we are trying to extract all `<p>` (by default) from the generated page. In the example you're providing, there are no `<p>` to find, so the actual match is failing.

I **think** this is fixed in the `v1` branch, but I'm keeping this bug open until I can confirm it. Thanks a lot for the reproducible test case!

[2017-10-30 12:31] pixelastic commented on #56
You're right that when presented that way it sounds weird.

The way it works is that we read all `record_css_selector` in the page, and for each of them we build the hierarchy of parent title (h1, h2, etc). The plugin will also get other information from the page, like its url, and any information present in the front matter. It will pack all that into a JSON object and send that to Algolia.

The

[2017-10-30 12:32] pixelastic commented on #52
Thanks for raising the issue, I might make the README clearer by adding this example into it.

[2017-10-30 12:36] pixelastic commented on #62
Good point. The upcoming v1 will ship with a `lazy_update` mode where I don't clear the index and re-push everything but instead do a diff between the existing index and the new data. As no index will be cleared, the synonyms will still be saved.

For when `lazy_update` is disabled (legacy implementation), I'll implement it following our documentation suggestion and update our doc if I find someth

[2017-10-30 12:39] pixelastic commented on #42
Hey @bomberstudios, did you had a chance to work on this PR?

[2017-10-30 12:40] pixelastic commented on #41
I'm closing this as it should be fixed by the lazy_update of the v1. Feel free to re-open if the issue is still present once v1 is released.

[2017-10-30 12:45] pixelastic commented on #36
Just a bump to let you know I've seen the issue and will try to repro it and see how it can be fixed. From where I stand today, I have no idea what is going on. Is the repo you linked earlier the one where I can still reproduce the issue?

[2017-10-30 12:46] pixelastic commented on #35
Could you tell me the other plugins (outside of Algolia) you're using on your Jekyll? I think one of them is messing with the parsing of the url. Or even better, if you have a repo where I can try it.

[2017-10-30 12:49] bomberstudios commented on #42
Sorry, life happened! I'll see if I can find the time to polish & share my code!

[2017-10-30 12:54] #25 closed

[2017-10-30 12:54] #28 closed

[2017-10-30 12:55] pixelastic commented on #23
I'm closing this issue as I plan on releasing the v1 branch officially soon.

[2017-10-30 12:55] #23 closed

[2017-10-30 13:03] DirtyF commented on #35
Plugins are listed in the Gemfile:
https://github.com/nhoizey/nicolas-hoizey.com/blob/master/Gemfile#L8-L18

https://github.com/nhoizey/nicolas-hoizey.com

[2017-10-30 13:20] Shipow commented on #41
Can you let it opens until then? Happy to try it.

[2017-10-31 09:02] pixelastic commented on #41
Ok, re-opening it :)

[2017-10-31 09:02] pixelastic commented on #35
Thanks!

[2017-10-31 09:03] pixelastic commented on #42
No problem and don't apologize, I totally understand. Just know that your participation will be appreciated if you decide to submit a PR, but I totally understand if you don't want to or don't have time :)

[2017-11-06 11:43] nhoizey commented on #35
There are also a few plugins there:
https://github.com/nhoizey/nicolas-hoizey.com/tree/master/_plugins

[2017-11-06 12:48] nhoizey commented on #36
Yes, still the same repo.

[2017-11-07 02:32] bdombro commented on #55
My pleasure!

[2017-11-07 15:07] pixelastic commented on #31
So it's not possible to rename a gem. What I can do instead (and what I did with the `html-hierarchy-extractor` dependency) is to create a new gem and continue development there, while freezing development on the previous gem.

I still add one last release to the previous version that adds deprecation warnings telling everyone to upgrade to the new gem.

[2017-11-07 15:22] pixelastic commented on #31
To sum up:

New gem will be named `jekyll-algolia` because that's the standard in the Jekyll world.

Jekyll will try to import it automatically by doing `require 'jekyll-algolia'` so will have my code available in `lib/jekyll-algolia.rb`. Rubocop will complain (filename should use `_`, not `-`), but I'll make an exception for this one.

Then the code will extend `Jekyll::Algolia`, from where I'll

[2017-11-07 15:33] DirtyF commented on #31
[code]

should do the trick for Rubocop ✅

[2017-11-14 13:23] pixelastic commented on #36
@nhoizey I've tried pulling your repo but it's git that does not want to play nicely with me this time

[code]

Seems like I'm hitting a filepath restriction on Linux. I'm gonna exclude those files from my local clone for now :)

[2017-11-14 20:39] nhoizey commented on #36
@pixelastic that's strange, it works well on macOS. Anyway, this post title is way to long… ;-)

[2017-11-16 15:30] dragospopa opened #63 "Using "removeWordsIfNOResults" setting parameter does not seem to work"
I have been trying to use the `removeWordsIfNOResults` in the _config.yml file in order to handle the "No results" case and improve the search experince of the user.

As I have found it [here](https://www.algolia.com/doc/api-reference/api-parameters/removeWordsIfNoResults/?language=ruby#examples) and based on the documenttion you provided, I thought that the way to make it work with the algolia je

[2017-11-16 15:47] Haroenv commented on #63
You can check in your dashboard if it applied, but it should have, can you show where your search is? What will help too is your `appID` (if you don't want to disclose it publicly: support@algolia.com)

[2017-11-16 15:56] dragospopa commented on #63
Hi there - thank you for the fast reply.

Do you know how/where can i check from dashboard if it had been applied or not? Searching my index from the algolia dashboard is still not working the expected way.

[2017-11-16 16:04] Haroenv commented on #63
You can find the value of `removeWordsIfNoResults` in the ranking tab of "indices"

[2017-11-16 16:13] dragospopa commented on #63
Not updated, but I managed to set it manually in there and it works perfectly 👍 thank you!

[2017-11-16 16:24] pixelastic commented on #63
Could you tell us the version of the Jekyll plugin you are using?

[2017-11-16 16:38] dragospopa commented on #63
version `0.9.0` - honestly, i can't seem to be able to use anything nested under `settings` in my yml. `distinct` is not changing anything either.

[code]

[2017-11-16 16:52] Haroenv commented on #63
Can you share a repo with a reproducible example @dragospopa ?

[2017-11-16 17:19] dragospopa commented on #63
Sure: the `dev branch` of [this](https://github.com/dragospopa/help) repo has algolia enabled. I need to use distinct because one of the pages seems to be too big to be pushed and I get a HTTP Error for record too big.

[2017-11-16 18:36] pixelastic commented on #63
That is weird because `distinct` is enabled by default.

The plugin will split each page in several records (one per paragraph by default), and push those records. It will enable a `distinct` on the `url` field so only the most relevant paragraph of each page will ever be retrurned.

I've been working on an updated version of the plugin, that should be released in the coming weeks. I'm going to ma

[2017-11-17 15:07] pixelastic commented on #27
This issue is now handled by both https://github.com/algolia/jekyll-algolia/issues/3 and https://github.com/algolia/jekyll-algolia/issues/4

[2017-11-17 15:07] #27 closed

[2017-11-17 15:18] pixelastic commented on #31
The new repo is open: https://github.com/algolia/jekyll-algolia

It is not released on RubyGems yet, you still have to manually clone it to use it. This officially starts the beta-test phase ;)

[2017-11-17 15:18] #31 closed

[2017-11-17 15:24] pixelastic commented on #34
Hello @akshayKMR, I have tried to replicate your issue again on my side, but can't find a way to trigger it.

I've recently released an updated version of the plugin here: https://github.com/algolia/jekyll-algolia

I will be deprecating this one (not updating it) in the coming weeks. If you ever experience the issue again with the new plugin, feel free to post an issue in the new project and I'll

[2017-11-17 15:24] #34 closed

[2017-11-17 15:31] akshaykmr commented on #34
Hey, thanks. This was way back, and I ended up using the workaround. I realize the bug(if any) can be hard to reproduce, It's just good measure to report it anyway.

Cheers

[2017-11-17 15:41] pixelastic commented on #35
I've tried to reproduce the issue with the latest [jekyll-algolia](https://github.com/algolia/jekyll-algolia) but can't reproduce.

What I did was clone your repo, remove all mention of webmention (it was taking so much time to build the website I thought it was easier to just remove it). I managed to run `jekyll algolia` and get all the content updated.

I then checked on the Algolia dashboard an

[2017-11-17 15:42] pixelastic commented on #35
Oh, and I forked your repo and pushed my "working" version here: https://github.com/pixelastic/nicolas-hoizey.com/tree/issue-35

[2017-11-17 15:49] pixelastic commented on #34
Thanks a lot for the reporting :)

[2017-11-17 15:58] pixelastic commented on #36
Could you try with [jekyll-algolia](https://github.com/algolia/jekyll-algolia)?

I have changed the way dependencies are loaded. Previously I had my `.gemspec` depending on the `Gemfile`. Now I have the `Gemfile` depending on the `.gemspec`.

As I mentionned in another issue, I managed to fork your repo and run `jekyll algolia` on it without issue. I don't see any `Rakefile` in the current repo. A

[2017-11-17 16:05] pixelastic commented on #37
I'm closing this issue. You raised a very valid point, but I don't think I will fix it with allowing to specify indices. I've opened a follow-up issue in the new repo: https://github.com/algolia/jekyll-algolia/issues/9

I think this issue can be solved with documentation and live-examples and will work on that.

Thanks for the feedback!

[2017-11-17 16:05] #37 closed

[2017-11-17 16:08] pixelastic commented on #40
Issue moved to new repo: https://github.com/algolia/jekyll-algolia/issues/10

[2017-11-17 16:08] #40 closed

[2017-11-17 16:39] pixelastic commented on #41
@Shipow I tried with the latest [jekyll-algolia](https://github.com/algolia/jekyll-algolia) version with my home connection and had no issue.

I had to do some minor changes to the configuration (for Jekyll 3). You can find my fork here: https://github.com/pixelastic/cleanflight-web/tree/issue-41 (I changed the application_id to mine, don't forget to revert)

Could you try and let me know if you s

[2017-11-17 16:44] pixelastic commented on #42
Thanks for the PR @bomberstudios.

I unfortunately won't be able to accept it directly as the code to actually extract records from HTML pages has been moved to another gem and the main plugin has now moved to [jekyll-algolia](https://github.com/algolia/jekyll-algolia).

I'm still interested in getting this issue fixed though. Would it be possible for you to share a repo where I could reproduce th

[2017-11-17 17:56] pixelastic commented on #51
This has been added to [jekyll-algolia](https://github.com/algolia/jekyll-algolia).

[2017-11-17 17:56] #51 closed

[2017-11-17 19:35] pixelastic commented on #55
I've just soft released [jekyll-algolia](https://github.com/algolia/jekyll-algolia) as a successor to this plugin. I've tested your markup with this new version and everything seems to be working smoothly.

I'm closing this issue for now, but let me know if you still have errors by posting on the other repo issue tracker: https://github.com/algolia/jekyll-algolia/issues

Thanks for the report in t

[2017-11-17 19:35] #55 closed

[2017-11-17 22:24] nhoizey commented on #35
Here are some pages:
https://github.com/nhoizey/nicolas-hoizey.com/tree/master/a-propos

But I will try the new plugin and let you know if I still have the issue.

[2017-11-18 00:59] pixelastic commented on #35
Hmm, seems like Ubuntu and its home encrypted directory is preventing me from pulling repos where filenames are too long. It just stops in the middle of the checkout, leaving some files not downloaded.

I'm re-cloning the repo from an unencrypted directory and try again. I can definitely see the pages in the GitHub UI but not on my machine. I'll try again with your content once I've downloaded you

[2017-11-18 01:01] pixelastic commented on #56
The new README of jekyll-algolia explains a bit more how we extract the headings. I've also renamed `record_css_selector` to `nodes_to_index` in the new version, I hope it makes things clearer.

[2017-11-18 01:01] #56 closed

[2017-11-18 01:16] pixelastic commented on #35
I've managed to clone your repo but I'm now having an issue when running `jekyll build`:

[code]
Let me know if/when you managed to test the plugin; there isn't much I can do on my side for now.

[2017-11-18 01:22] pixelastic commented on #57
The new version of the plugin (renamed to [jekyll-algolia](https://github.com/algolia/jekyll-algolia)) should have this fixed. With it you can pass application id, api key and index name either from the config file or from the command line.

It should also display friendlier error messages in case one of the config is missing.

Let me know if you can get the new version a test run and see if it fi

[2017-11-18 01:22] #57 closed

[2017-12-06 16:17] carlead commented on #32
@akshayKMR Can you explain which modifications you made to your file /etc/resolv.conf ? Thanks

[2017-12-06 16:25] akshaykmr commented on #32
@carlead  The `resolv.conf` file contains nameservers used for dns. They are used in order they are listed. Our organization vagrant box had two entries, I simply moved the second one to the top and it started working.

[2017-12-06 16:54] carlead commented on #32
@akshayKMR Ok thank you, I'll give it a try !

[2017-12-21 18:10] pixelastic commented on #35
I'm closing this for now. Feel free to re-open it if you have similar issues with jekyll-algolia.

[2017-12-21 18:10] #35 closed

[2017-12-21 18:10] pixelastic commented on #36
I'm closing this for now. Feel free to re-open it if you have similar issues with jekyll-algolia.

[2017-12-21 18:10] #36 closed

[2017-12-21 18:11] pixelastic commented on #41
I'm closing this for now. Feel free to re-open on jekyll-algolia if you have other questions

[2017-12-21 18:11] #41 closed

[2017-12-21 18:12] pixelastic commented on #42
I'm closing this issue for now. Feel free to re-open it if you're experiencing similar issues with jekyll-algolia.

Thanks the PR!

[2017-12-21 18:12] #42 closed

[2017-12-21 18:15] pixelastic commented on #62
I'm closing this issue in favor of https://github.com/algolia/jekyll-algolia/issues/29

It is still an issue in the current version of jekyll-algolia, but as all development has been frozen here, I'll fix it there.

Thanks for raising the issue!

[2017-12-21 18:15] #62 closed

[2017-12-21 18:31] pixelastic commented on #63
I've cloned your repo and gave it a try on my side (using the new jekyll-algolia plugin).

Everything is working, I can see all your custom setting changes in the Algolia dashboard correctly set:
![image](https://user-images.githubusercontent.com/283419/34269458-ad5d4fe2-e684-11e7-8ffb-62ffcdf27cae.png)
![image](https://user-images.githubusercontent.com/283419/34269467-b69b7b42-e684-11e7-820a-dffc

[2017-12-21 18:31] #63 closed

[2018-02-14 13:51] nhoizey commented on #35
@pixelastic I just saw that I still have this issue, even with the new jekyll-algolia:

https://nicolas-hoizey.com/recherche.html?q=algolia

[2018-02-14 15:46] nhoizey commented on #35
@pixelastic should I open an issue on jekyll-algolia?

[2018-02-14 16:44] pixelastic commented on #35
Yes please :)